@import "~normalize.css";
@import "fonts.css";

body {
    font-family: 'sfuidisplay', sans-serif;
}

/* TODO: тестовый стиль */
.logo {
    background-image: url('../images/logo.png');
    background-size: cover;
    height: 250px;
    width: 250px;
    margin:0 auto;
}