// TODO: тестовый стиль
$border: 1px solid #ccc;
$bg-color: red;

.container {
    height:200px;
    background-color: #e0fea8;
    color:#333;
}

.footer {
    padding:2rem;
    border-radius: 5px;
    margin-top:2rem;
    border:$border;

    h2 {
        text-align: center;
        color:$bg-color;
    }
}